.gitignore
.venv
src/data_folder/datasets/*
src/neural_network_stuff/models/*
src/data_folder/noised_images/*
src/data_folder/cut_images/*
src/data_folder/rotated_images/*
src/data_folder/get_system_image/img/*
src/data_folder/test_dataloader/train/*
src/data_folder/test_dataloader/val/*